html {
  scroll-behavior: smooth;
}
:root {
    
    --body: #fff;
    --black: #000;
    --white: #fff;
    --theme: #2475FD;
    --theme2: #2475FD;
    --header: #2F2F2F;
    --text: #50624A;
    --border: #02060A;
    --bg: #F5F6F4;
    --bg2: #50624A;
    --bg3: #F5F6F4;
    --box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.13);
}

.header-logo {
    gap: 10px; /* space between image & text */
}

.logo-img {
    width: 40px !important;
    height: auto;
}

.logo-text {
    font-size: 38px;
    font-weight: 800;
    line-height: 1;
}
.skills-slider .swiper-wrapper {
  display: flex;
}

.skills-slider .swiper-slide {
  height: auto;
}